# Virtual Environments
venv/
env/
.env

# Python compilation files
__pycache__/
*.py[cod]
*$py.class

# Project specific caches and models
models/
flashrank_cache/
*jina-reranker*
*.gguf

# Indexes and persistent state
bm25*.pkl

evaluation/*.pdf

# IDE and OS files
.DS_Store
.vscode/
.idea/