boto3==1.42.63
botocore==1.42.63
fastapi==0.135.1
FlashRank==0.2.10
huggingface_hub==1.4.1
langchain_classic==1.0.2
langchain_community==0.4.1
langchain_core==1.2.17
langchain_groq==1.1.2
langchain_openai==1.1.10
langchain_text_splitters==1.1.1
pgvector==0.4.2
psycopg2_binary==2.9.11
pydantic==2.12.5
pypdf==6.8.0
python-dotenv==1.2.2
Requests==2.32.5
sentence_transformers==5.2.3
SQLAlchemy==2.0.48
streamlit==1.54.0
uvicorn==0.41.0
llama_cpp_python
